body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #fff;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  margin: 0;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin: 0 0 72px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  width: 1158px;
  margin: 0 auto;
}

.head-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 15px;
  border-bottom: 1px solid black;
}

.navigator {
  display: flex;
  gap: 76px;
}

.nav-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
  align-self: center;
}

.nav-logo {
  color: #2e2f42;
}

.btn-link {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.link-contact {
  font-style: normal;
}

.link-contact-list {
  display: flex;
  gap: 40px;
}

.link-contact a {
  font-weight: 400;
  color: #434455;
  text-decoration: none;
}

.link-contact a:hover,
.link-contact a:focus {
  color: #404bbf;
}

main {
  flex-grow: 1;
}

.section {
  padding: 120px 0;
}

.section .heroes {
  background-color: #2e2f42;
}

.heroes {
  background-color: #2e2f42;
  overflow: hidden;
}

.heroes-wrap {
  max-width: 496px;
  margin: 68px auto;
}

.heroes-name {
  text-align: center;
  color: #fff;
  margin-bottom: 48px;
  width: 100%;
  index: 25;
}

.btn-order {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 19px;
  border-radius: 4px;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.btn-order:hover,
.btn-order:focus {
  background: #404bbf;
}

.hidden-header {
  letter-spacing: 0.02em;
  display: none;
}

.advantages-list {
  display: flex;
  gap: 24px;
  justify-content: space-between;
  margin: 0 15px;
}

.advantages-card {
  max-width: 264px;
}

.name-block {
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.header-team {
  letter-spacing: 0.02em;
}

.team-wrapper {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-info {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-card {
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 4px 4px;
  padding-bottom: 32px;
}

.team-img {
  margin-bottom: 32px;
}

.portfolio-img {
  overflow: hidden;
  vertical-align: bottom;
}

.portfolio-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-header {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
  gap: 24px;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-wrap {
  max-width: 264px;
  margin: 0 15px;
}

.footer-logo-web {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

.footer-logo {
  color: #f4f4fd;
}

.footer-descr {
  color: #f4f4fd;
}
